.service-card {
    padding: 15px;
    border: 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    transform: translateY(10px);
    transition: all .3s ease;
    margin-bottom: 25px;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}
