.dashboard-text {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--bf-dark);
    text-transform: uppercase;
    transition: all .3s ease;
}

.dashboard-text:hover {
    color: var(--bf-sixth);
}

.ceo-message {
    background-image: url('https://i.ibb.co/BPG1C8N/ceo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.ceo-message::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(4, 18, 48, 0.70);
    z-index: -1;
}

/* [url=https: //ibb.co/vPT5rgP][img]https://i.ibb.co/4TXyD9T/ceo-bg.png[/img][/url] */
/* <a href="https://ibb.co/PYMS6BQ"><img src="https://i.ibb.co/BPG1C8N/ceo-bg.png"alt="ceo-bg"border="0"></a> */

.ceo-message .quote-icon {
    display: block;
    font-size: 30px;
    color: var(--bf-sixth);
}

.ceo-message .message {
    font-size: 22px;
    font-weight: 600;
    color: var(--bf-white);
}

.ceo-message h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--bf-white);
    margin-top: 30px;
}

.achivement .staright-line {
    position: relative;
}

.achivement .staright-line::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--bf-secondary);
}

.achivement span {
    font-size: 36px;
    font-weight: 700;
    color: var(--bf-dark);
}

.achivement p {
    font-size: 22px;
    font-weight: 600;
    color: var(--bf-secondary);
}
/* small mobile :320px. */
@media (max-width: 767px) {
    .achivement .staright-line::after {
        display: none;
    }
}